html ,body{
    margin: 0;
    font-family: 'Amiri', serif;
    
}

header{
    position:fixed;
    width:100%;
    background-color:#333;
    z-index: 1;
}

a{

    color:white;
    text-decoration: none;

}

nav:hover{

  background-color:black;
}

a:hover{

    color:aqua;
}


.background{
    background-image:url("img/cross.jpg");
    
    height:80vh;
    background-size: 100%;
    opacity:0.15;

    
  
    width:100vw;
    
    position:sticky;
    top:136px;
   
    z-index:4;
    background-repeat: no-repeat;
}



.massage{
    font-family:'Reem Kufi', sans-serif;
    font-size:50px;
    font-weight:bold;
    
}

.text{
    font-size:20px;

}

.spacer{
    height:20px;
    background-color:#333;

}




.g-container{



box-sizing: border-box;
padding:30px;


}

.gatherings{
    text-align: center;
    margin: 0 auto;
    width:80%;
    box-sizing: border-box;
    border-left: 1px solid #333;
    border-right:1px solid #333;
    



}


.gather{
    
    box-sizing: border-box;
    padding:20px;
   


}

.line{

    width:30%;
    height:3px;
    margin: 0 auto;
    background-color: #333;
   
    z-index: 3;

}


.f-container{
    box-sizing: border-box;
    padding-top:40px;
    text-align:center;
    font-family:"Reem Kufi";
    margin-top:10px;
    width:100%;
    height:100px;
    background-color:#333;
    color:white;
    z-index: 6;


}







#logo-container{
  
    width:130px;
    height:85px;
    position:fixed;
    left:2%;
    top: 22px;
    z-index: 1;
    background-color: aqua;
    
}

#logo{

    width:100%;
    height:100%;
    
  


}

#btn-main:hover{

    color:aqua;
}

nav{
    float:right;

    margin: 0;
    padding:20px 0;
}

nav li{
    
    color:#fff;
    display:inline-block;
    font-size:20px;
    font-weight:600;
    width:100px;
    

}

.gather p{
    font-size:2rem;

}
.gather h2{

    font-size: 2rem;
}


#banner-container{
    position: relative;
    top:90px;
    width:100%;
    height:1000px;
    margin:20px auto 90px auto;

   

}

#banner{
    width:100%;
    height:100%;

  

}  #button:hover{
    opacity: 1;
   
}

  #button{

    font-family:'Reem Kufi', sans-serif;
    min-height:10%;
    background-color:#333;
    color:#fff;
    position: relative;
    bottom:50%;
    margin:0 auto;
    opacity:0.6;
    text-align:center;    

}
#btn-main {
   
    
   background-color: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 40%;
    left:1%;
    
  
}

#map-spacer{

    margin:100px  auto 100px auto;
    width:30%;

}


@media only screen and (max-width:800px){

    #banner-container{

        height:400px;
    }

    #button{
        opacity: 0.5;
    }

    .f-container{
        
        font-size:25px;

    }
  



}

#phrase-of-day{
    padding:20px;
    text-align:center;
    position:relative;
    max-width:70%;
    min-height:400px;
   
    margin: 0 auto;
    
     z-index: 2;
}





